
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
:root{
    --cor-principal: #a94ae9;
    --cor-secundaria: #f713e4;
    --cor-destaque: #c92bfc;
}

body{
    font-family: 'Dancing Script', sans-serif;
    color: var(--cor-principal);
    background-color: #fdfdfd;
    
}

h1, h2, h5 {
    color:var(--cor-secundaria);
    font-weight: 700;
}

.lead, .btn-link{
    color: var(--cor-destaque);
    font-weight: 700;
    text-decoration:none;
}

a, .btn-link:hover {
    color: var(--cor-principal);
}
a:hover{
    color:var(--cor-destaque);
}